@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A simple Asp.NET MVC application to see expenses made and creating a chart to see the data more visually.</p>
